/* CSS HEX */
/* --tiffany-blue: #99ddc8ff; */
/* --pistachio: #95bf74ff; */
/* --asparagus: #659b5eff; */
/* --fern-green: #556f44ff; */
/* --dark-slate-gray: #283f3bff; */


#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  background-color: #283f3bff;
  background-size: cover;
  border: 1px solid white;
  font-family: 'Montserrat Alternates', sans-serif;
}



.workCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.workCard {
  width: 18rem;
  margin: 0.5rem;
}

.skills-list {

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.li-list {
  display: flex;

}

#footer {
  bottom: 0;
}