/* CSS HEX */
/* --tiffany-blue: #99ddc8ff; */
/* --pistachio: #95bf74ff; */
/* --asparagus: #659b5eff; */
/* --fern-green: #556f44ff; */
/* --dark-slate-gray: #283f3bff; */

/* * {
  margin: 0;
  padding: 2rem;
  background-image: url(./assets/lotus.jpg);
  background-size: cover;
  max-width: 1280px;
  min-height: 100vh;
  text-align: center;
} */


body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: whitesmoke !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.navbar-container {
  color: whitesmoke;
  font-weight: 400px;

}

#footer {
  bottom: 0;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: whitesmoke !important;
  background-image: url(./assets/lotus.jpg);
  background-size: cover;
  opacity: 50%;
  /* background-color: #283f3bff; */
  /* background: rgb(85, 111, 68);
  background: linear-gradient(158deg, rgba(85, 111, 68, 1) 14%, rgba(149, 191, 116, 1) 26%, rgba(153, 221, 200, 1) 42%, rgba(101, 155, 94, 1) 63%, rgba(40, 63, 59, 1) 78%);
  background-size: cover; */
}



.about-container {
  background: rgb(85, 111, 68);
  background: linear-gradient(158deg, rgba(85, 111, 68, 1) 14%, rgba(149, 191, 116, 1) 26%, rgba(153, 221, 200, 1) 42%, rgba(101, 155, 94, 1) 63%, rgba(40, 63, 59, 1) 78%);
  opacity: 90%;
  font-weight: bolder;
  width: 60%;
  margin-left: 20%;
  font-size: 20px;
  color: black
}

.projectCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.projectCard {
  width: 18rem;
  margin: 0.5rem;
}

.skills-list {
  background: linear-gradient(158deg, rgba(85, 111, 68, 1) 14%, rgba(149, 191, 116, 1) 26%, rgba(153, 221, 200, 1) 42%, rgba(101, 155, 94, 1) 63%, rgba(40, 63, 59, 1) 78%);
  opacity: 90%;
  background-size: contain;
  width: fit-content;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.skills-title {
    background: linear-gradient(158deg, rgba(85, 111, 68, 1) 14%, rgba(149, 191, 116, 1) 26%, rgba(153, 221, 200, 1) 42%, rgba(101, 155, 94, 1) 63%, rgba(40, 63, 59, 1) 78%);
      opacity: 90%;
      background-size: contain;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      font-weight: bolder;
}

/* .li-list {
  display: flex;

}  */