:root {

  font-family: 'Montserrat Alternates', sans-serif;

  font-weight: 400;


  color: whitesmoke;
  background-color: #283f3bff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1 {
  font: 'Montserrat Alternates';
  font-size: 3.2em;
  line-height: 1.1;
  color: whitesmoke;
}


@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }

  a:hover {
    /* color: #747bff; */
  }

  button {
    /* background-color: #f9f9f9; */
  }
}